<div>
    <div class="container" name="filters">
        <div class="col-md-3 container" name="requestStageFilter">
            <label>Stage</label>
            <select class="form-control" ng-model="vm.filter.stageId" chosen="vm.requestStages" ng-options="stage.Id as stage.Description for stage in vm.requestStages" data-placeholder="None" ng-change="vm.loadRequests()">
                <option value="0"></option>
            </select>
        </div>

        <div class="col-md-3 container" name="fromDateFilter">
            <label>From</label>
            <div>
                <input class="form-control" type="date" ng-model="vm.filter.fromDate">
            </div>
        </div>
        <div class="col-md-3 container" name="toDateFilter">
            <label>To</label>
            <div>
                <input class="form-control" type="date" ng-model="vm.filter.toDate">
            </div>
        </div>
        <div class="col-md-3 container" name="slimView">
            <label>Slim view</label>
            <div>
                <input type="checkbox" ng-model="vm.slimView">
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="container col-lg-12">
        <table class="table table-responsive table-striped table-hover text-center">
            <thead>
                <tr>
                    <th class="text-center">
                        <span>Created</span>
                    </th>
                    <th class="text-center" ng-if="vm.slimView">
                        <span>Date(s)</span>
                    </th>
                    <th class="text-center" ng-if="!vm.slimView">
                        <span>Start</span>
                    </th>
                    <th class="text-center" ng-if="!vm.slimView">
                        <span>End</span>
                    </th>
                    <th class="text-center">
                        <span>Period</span>
                    </th>
                    <th class="text-center">
                        <span>Reason</span>
                    </th>
                    <th class="text-center">
                        <span>Stage</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="request in vm.requests.Entities">
                    <td>
                        <span>{{request.Created | date:"dd MMM yy"}}</span>
                    </td>
                    <td ng-if="!vm.slimView">
                        <span>{{request.StartDate | date:"dd MMM yy"}}</span>
                    </td>
                    <td ng-if="!vm.slimView">
                        <span>{{request.EndDate | date:"dd MMM yy"}}</span>
                    </td>
                    <td ng-if="vm.slimView">
                        <span>{{vm.getDatesRepresentation(request)}}</span>
                    </td>
                    <td>
                        <span ng-if="vm.isAllDayRequest(request.Period)">
                        <ng-pluralize count="{{request.Period / 8}}"
                                      when="{
                                            '1': '{} day',
                                            'other': '{} days'
                                            }"></ng-pluralize>
                    </span>
                        <span ng-if="!vm.isAllDayRequest(request.Period)">{{(request.StartTime | date:"HH:mm") + ' to ' + (request.EndTime | date:"HH:mm")}}</span></td>
                    <td>
                        <span>{{request.ReasonDescription}}</span>
                    </td>
                    <td>
                        <span>{{request.StageDescription}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
