.user-minipic {
    height: 22px;
    width: 22px;
    border-radius: 8px;
}
.screen-center {
    margin: 30% auto;
}
.login-form {
    min-width: 200px;
    max-width: 350px;
    height: auto;
}
.has-error {
    border: solid 2px indianred !important;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: aqua;
}
